{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }],
    ["react-intl", {
        "messagesDir": "./tmp/extractedMessages"
    }]
  ]
}
