{
  "root": true,
  "ignorePatterns": ["**/*"],
  "plugins": ["@nx", "unicorn", "header"],
  "env": {
    "es2022": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "header/header": [
      "error",
      "block",
      "*\n * Copyright (c) Mudita sp. z o.o. All rights reserved.\n * For licensing, see https://github.com/mudita/mudita-center/blob/master/LICENSE.md\n ",
      2
    ]
  },
  "overrides": [
    {
      "files": "*.json",
      "parser": "jsonc-eslint-parser",
      "rules": {}
    },
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@nx/typescript"],
      "rules": {
        "@typescript-eslint/prefer-for-of": ["error"],
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "variableLike",
            "format": ["camelCase", "PascalCase"]
          },
          {
            "selector": "memberLike",
            "format": ["camelCase"],
            "leadingUnderscore": "forbid",
            "trailingUnderscore": "forbid"
          },
          {
            "selector": "typeLike",
            "format": ["PascalCase"]
          },
          {
            "selector": "interface",
            "format": ["PascalCase"],
            "custom": {
              "regex": "^I[A-Z]",
              "match": false
            }
          },
          {
            "selector": "enumMember",
            "format": ["PascalCase"]
          }
        ]
      }
    },
    {
      "files": ["jest.config.ts"],
      "rules": {
        "@typescript-eslint/naming-convention": ["off"]
      }
    },
    {
      "files": ["*.schema.ts"],
      "rules": {
        "@typescript-eslint/naming-convention": ["off"],
        "@typescript-eslint/no-empty-interface": ["off"]
      }
    }
  ]
}
