{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["en-US.json"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"]
      }
    }
  ]
}
