@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-display: fallback;
  src: url(./RobotoCondensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-display: fallback;
  src: url(./RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-display: fallback;
  src: url(./RobotoCondensed-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "GT Pressura";
  font-weight: 300;
  font-display: fallback;
  src: url(./GT-Pressura-Light.otf) format("opentype");
}
@font-face {
  font-family: "GT Pressura";
  font-weight: 400;
  font-display: fallback;
  src: url(./GT-Pressura-Regular.otf) format("opentype");
}
@font-face {
  font-family: "GT Pressura";
  font-weight: 700;
  font-display: fallback;
  src: url(./GT-Pressura-Bold.otf) format("opentype");
}
