name: Build & Release - pre-production

on:
  push:
    tags:
      - "*"

jobs:
  release:
    if: startsWith(github.event.base_ref, 'refs/heads/v') && !(endsWith(github.ref, '-latest'))
    runs-on: ${{ matrix.runner_label }}
    strategy:
      matrix:
        runner_label: [linux-nexus, windows-nexus, macos-m-nexus]
        node-version: [24.13.0]
    environment: pre-production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Configure environment - Windows
        if: matrix.runner_label == 'windows-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          GH_BUILD_TOKEN: ${{ secrets.GH_BUILD_TOKEN }}
          VITE_GH_RUNTIME_TOKEN: ${{ secrets.VITE_GH_RUNTIME_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.VITE_MUDITA_CENTER_SERVER_URL }}
          VITE_GOOGLE_AUTH_CLIENT_ID: ${{ secrets.VITE_GOOGLE_AUTH_CLIENT_ID }}
          VITE_MICROSOFT_AUTH_CLIENT_ID: ${{ secrets.VITE_MICROSOFT_AUTH_CLIENT_ID }}
          VITE_FRESHDESK_API_TOKEN: ${{ secrets.VITE_FRESHDESK_API_TOKEN }}
          VITE_FRESHDESK_API_URL: ${{ secrets.VITE_FRESHDESK_API_URL }}
          VITE_ANALYTICS_ENABLED: ${{ secrets.VITE_ANALYTICS_ENABLED }}
          VITE_ANALYTICS_API_SITE_ID: ${{ secrets.VITE_ANALYTICS_API_SITE_ID }}
          ENABLE_DEVTOOLS: ${{ secrets.ENABLE_DEVTOOLS }}
          CI: true
        shell: cmd
        run: |
          SET > .env
          jq -r -j .version apps/app/package.json > apps/app/version
      - name: Configure environment - Mac
        if: matrix.runner_label == 'macos-m-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          GH_BUILD_TOKEN: ${{ secrets.GH_BUILD_TOKEN }}
          VITE_GH_RUNTIME_TOKEN: ${{ secrets.VITE_GH_RUNTIME_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.VITE_MUDITA_CENTER_SERVER_URL }}
          VITE_GOOGLE_AUTH_CLIENT_ID: ${{ secrets.VITE_GOOGLE_AUTH_CLIENT_ID }}
          VITE_MICROSOFT_AUTH_CLIENT_ID: ${{ secrets.VITE_MICROSOFT_AUTH_CLIENT_ID }}
          VITE_FRESHDESK_API_TOKEN: ${{ secrets.VITE_FRESHDESK_API_TOKEN }}
          VITE_FRESHDESK_API_URL: ${{ secrets.VITE_FRESHDESK_API_URL }}
          VITE_ANALYTICS_ENABLED: ${{ secrets.VITE_ANALYTICS_ENABLED }}
          VITE_ANALYTICS_API_SITE_ID: ${{ secrets.VITE_ANALYTICS_API_SITE_ID }}
          ENABLE_DEVTOOLS: ${{ secrets.ENABLE_DEVTOOLS }}
          CI: true
        run: |
          printenv > .env
      - name: Configure environment - Linux
        if: matrix.runner_label == 'linux-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          GH_BUILD_TOKEN: ${{ secrets.GH_BUILD_TOKEN }}
          VITE_GH_RUNTIME_TOKEN: ${{ secrets.VITE_GH_RUNTIME_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.VITE_MUDITA_CENTER_SERVER_URL }}
          VITE_GOOGLE_AUTH_CLIENT_ID: ${{ secrets.VITE_GOOGLE_AUTH_CLIENT_ID }}
          VITE_MICROSOFT_AUTH_CLIENT_ID: ${{ secrets.VITE_MICROSOFT_AUTH_CLIENT_ID }}
          VITE_FRESHDESK_API_TOKEN: ${{ secrets.VITE_FRESHDESK_API_TOKEN }}
          VITE_FRESHDESK_API_URL: ${{ secrets.VITE_FRESHDESK_API_URL }}
          VITE_ANALYTICS_ENABLED: ${{ secrets.VITE_ANALYTICS_ENABLED }}
          VITE_ANALYTICS_API_SITE_ID: ${{ secrets.VITE_ANALYTICS_API_SITE_ID }}
          ENABLE_DEVTOOLS: ${{ secrets.ENABLE_DEVTOOLS }}
          CI: true
        run: |
          printenv > .env
      - name: Install dependencies
        run: npm run setup
      - name: Prepare electron-builder config - Mac
        if: matrix.runner_label == 'macos-m-nexus'
        run: |
          cp ~/actions-runner/envs/electron-builder.env apps/app/electron-builder.env
          APPLE_ASC_PROVIDER=$(grep '^APPLE_ASC_PROVIDER=' apps/app/electron-builder.env | cut -d '=' -f2-)
          APPLE_ID_PASSWORD=$(grep '^APPLE_ID_PASSWORD=' apps/app/electron-builder.env | cut -d '=' -f2-)
          echo "APPLE_TEAM_ID=$APPLE_ASC_PROVIDER" >> apps/app/electron-builder.env
          echo "APPLE_APP_SPECIFIC_PASSWORD=$APPLE_ID_PASSWORD" >> apps/app/electron-builder.env
      - name: Build - Windows
        if: matrix.runner_label == 'windows-nexus'
        run: |
          $env:NODE_OPTIONS="--max-old-space-size=4096"
          $env:LOCALAPPDATA=""
          npx nx build:win app --publish never --output-style stream --no-cloud
      - name: Build - Mac
        if: matrix.runner_label == 'macos-m-nexus'
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          npx nx build:mac app --publish never --universal --output-style stream --no-cloud
      - name: Build - Linux
        if: matrix.runner_label == 'linux-nexus'
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          npx nx build:linux app --publish never --output-style stream --no-cloud
      - name: Signing via Digicert
        if: matrix.runner_label == 'windows-nexus'
        env:
          SM_HOST: ${{ secrets.SM_HOST }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: "C:\\actions-runner\\certs\\Certificate_pkcs12.p12"
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_CODE_SIGNING_CERT_SHA1_HASH: ${{ secrets.SM_CODE_SIGNING_CERT_SHA1_HASH }}
        run: |
          SET SM_HOST=%SM_HOST%
          SET SM_API_KEY=%SM_API_KEY%
          SET SM_CLIENT_CERT_FILE=%SM_CLIENT_CERT_FILE%
          SET SM_CLIENT_CERT_PASSWORD=%SM_CLIENT_CERT_PASSWORD%
          SET SM_CODE_SIGNING_CERT_SHA1_HASH=%SM_CODE_SIGNING_CERT_SHA1_HASH%
          SET PATH=%PATH%;"C:\Program Files\DigiCert\DigiCert One Signing Manager Tools"
          SET PATH=%PATH%;"C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64"
          signtool.exe sign /sha1 %SM_CODE_SIGNING_CERT_SHA1_HASH% /tr http://timestamp.digicert.com /td SHA256 /fd SHA256 ./apps/app/release/Mudita-Center.exe
        shell: cmd
      - name: Calculate new checksum and file size for Mudita-Center.exe
        if: matrix.runner_label == 'windows-nexus'
        run: |
          $filePath = "./apps/app/release/Mudita-Center.exe"
          $sha512Bytes = [System.Security.Cryptography.SHA512]::Create().ComputeHash([System.IO.File]::ReadAllBytes($filePath))
          $sha512Base64 = [Convert]::ToBase64String($sha512Bytes)
          $fileSize = (Get-Item -Path $filePath).length

          $latestYmlPath = "./apps/app/release/latest.yml"
          (Get-Content $latestYmlPath) -replace 'sha512:.*', "sha512: $sha512Base64" |
          Set-Content $latestYmlPath
          (Get-Content $latestYmlPath) -replace 'size:.*', "size: $fileSize" |
          Set-Content $latestYmlPath
        shell: powershell
      - name: Upload artifacts to Nexus - Windows
        if: matrix.runner_label == 'windows-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          jq -r -j .version apps/app/package.json > apps/app/version
          $APP_VERSION = Get-Content -Path "apps/app/version"
          $SOURCE_BRANCH = "${{ github.ref_name }}"
          $ENVIRONMENT_CATALOG_NAME = "pre-production"
          echo "GITTAG=$($APP_VERSION)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          $GITTAG = "$($APP_VERSION)"
          $NEXUS_USERNAME = "$env:NEXUS_USERNAME"
          $NEXUS_PASSWORD = ConvertTo-SecureString "$env:NEXUS_PASSWORD" -AsPlainText -Force
          $AUTH = New-Object System.Management.Automation.PSCredential ($NEXUS_USERNAME, $NEXUS_PASSWORD)
          copy ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-win.yml
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/Mudita-Center.exe -InFile ./apps/app/release/Mudita-Center.exe -Method Put -Credential $AUTH -UseBasicParsing
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/Mudita-Center.exe.blockmap -InFile ./apps/app/release/Mudita-Center.exe.blockmap -Method Put -Credential $AUTH -UseBasicParsing
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/latest.yml -InFile ./apps/app/release/latest.yml -Method Put -Credential $AUTH -UseBasicParsing
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/builder-debug-win.yml -InFile ./apps/app/release/builder-debug-win.yml -Method Put -Credential $AUTH -UseBasicParsing
          C:\"Program Files"\Git\cmd\git.exe clone https://${{ secrets.GH_BUILD_TOKEN }}@github.com/mudita/mudita-center-pre-production.git
          cd mudita-center-pre-production
          C:\"Program Files"\Git\cmd\git.exe tag "$GITTAG"
          C:\"Program Files"\Git\cmd\git.exe push origin "$GITTAG"
      - name: Upload artifacts to Nexus - Mac
        if: matrix.runner_label == 'macos-m-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=pre-production
          echo "GITTAG=$APP_VERSION" >> $GITHUB_ENV
          export GITTAG="$APP_VERSION"
          git tag "$GITTAG"
          git push origin "$GITTAG"
          cp ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-mac.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.dmg  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.dmg
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.zip  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.zip
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.zip.blockmap  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.zip.blockmap
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.dmg.blockmap  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.dmg.blockmap
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/latest-mac.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/latest-mac.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/builder-debug-mac.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/builder-debug-mac.yml
          git clone https://${{ secrets.GH_BUILD_TOKEN }}@github.com/mudita/mudita-center-pre-production.git
          cd mudita-center-pre-production
          git tag "$GITTAG" 2>&1 || true
          git push origin "$GITTAG"
      - name: Upload artifacts to Nexus - Linux
        if: matrix.runner_label == 'linux-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=pre-production
          echo "GITTAG=$APP_VERSION" >> $GITHUB_ENV
          export GITTAG="$APP_VERSION"
          git tag "$GITTAG"
          git push origin "$GITTAG"
          cp ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-linux.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.AppImage  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.AppImage
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/latest-linux.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/latest-linux.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/builder-debug-linux.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/builder-debug-linux.yml
          git clone https://${{ secrets.GH_BUILD_TOKEN }}@github.com/mudita/mudita-center-pre-production.git
          cd mudita-center-pre-production
          git tag "$GITTAG" 2>&1 || true
          git push origin "$GITTAG"
      - name: Create GitHub draft release - Windows
        if: matrix.runner_label == 'windows-nexus'
        id: create_release_windows
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-pre-production
          token: ${{ secrets.GH_BUILD_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.exe
            ./apps/app/release/Mudita-Center.exe.blockmap
            ./apps/app/release/latest.yml
            ./apps/app/release/builder-debug-win.yml
      - name: Create GitHub draft release - Mac
        if: matrix.runner_label == 'macos-m-nexus'
        id: create_release_macos
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-pre-production
          token: ${{ secrets.GH_BUILD_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.dmg
            ./apps/app/release/Mudita-Center.zip
            ./apps/app/release/Mudita-Center.zip.blockmap
            ./apps/app/release/Mudita-Center.dmg.blockmap
            ./apps/app/release/latest-mac.yml
            ./apps/app/release/builder-debug-mac.yml
      - name: Create GitHub draft release - Linux
        if: matrix.runner_label == 'linux-nexus'
        id: create_release_linux
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-pre-production
          token: ${{ secrets.GH_BUILD_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.AppImage
            ./apps/app/release/latest-linux.yml
            ./apps/app/release/builder-debug-linux.yml
