name: Build & deploy to development (next)

on:
  push:
    branches:
      - develop-next
jobs:
  build:
    runs-on: ${{ matrix.runner_label }}
    strategy:
      matrix:
#        runner_label: [linux-nexus, windows-nexus, macos-nexus]
        runner_label: [windows-nexus]
        node-version: [22.16.0]
    environment: development-next
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Env for Windows
        if: matrix.runner_label == 'windows-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          VITE_GITHUB_ACCESS_TOKEN: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.MUDITA_CENTER_SERVER_URL }}
          CI: true
        shell: cmd
        run: |
          SET > .env
          jq -r -j .version apps/app/package.json > apps/app/version
      - name: Setup Env for Mac
        if: matrix.runner_label == 'macos-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          VITE_GITHUB_ACCESS_TOKEN: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.MUDITA_CENTER_SERVER_URL }}
          CI: true
        run: |
          printenv > .env
      - name: Setup Env for Linux
        if: matrix.runner_label == 'linux-nexus'
        env:
          FONTS_DIRECTORY_URL: ${{ secrets.FONTS_DIRECTORY_URL }}
          RELEASES_REPOSITORY_NAME: ${{ secrets.RELEASES_REPOSITORY_NAME }}
          VITE_GITHUB_ACCESS_TOKEN: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          VITE_MUDITA_CENTER_SERVER_URL: ${{ secrets.MUDITA_CENTER_SERVER_URL }}
          CI: true
        run: |
          printenv > .env
      - name: Changing app version in packages.json for Linux
        if: matrix.runner_label == 'linux-nexus'
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=development-next
          export "BUILD_VERSION=-dev.${{ github.run_number }}"
          sed -i "s/\"version\": \".*\",/\"version\": \"$APP_VERSION$BUILD_VERSION\",/" apps/app/package.json
      - name: Changing app version in packages.json for Mac
        if: matrix.runner_label == 'macos-nexus'
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=development-next
          export "BUILD_VERSION=-dev.${{ github.run_number }}"
          sed -i '' "s/\"version\": \".*\",/\"version\": \"$APP_VERSION$BUILD_VERSION\",/" apps/app/package.json
      - name: Changing app version in packages.json for Windows
        if: matrix.runner_label == 'windows-nexus'
        run: |
          $SOURCE_BRANCH = "${{ github.ref_name }}"
          $ENVIRONMENT_CATALOG_NAME = "development-next"
          $BUILD_VERSION = "-dev.${{ github.run_number }}"
          $APP_VERSION = (Get-Content -Path "apps/app/version") + $BUILD_VERSION
          (Get-Content -Path 'apps/app/package.json') | ForEach-Object {
            $_ -replace '"version": ".*",' , "`"version`"`: `"$APP_VERSION`","
          } | Set-Content -Path 'apps/app/package.json'
      - name: Setup depedencies
        run: npm run setup
      - name: Copy electron-builder environment file for Mac
        if: matrix.runner_label == 'macos-nexus'
        run: |
          cp ~/actions-runner/envs/electron-builder.env apps/app/electron-builder.env
          APPLE_ASC_PROVIDER=$(grep '^APPLE_ASC_PROVIDER=' apps/app/electron-builder.env | cut -d '=' -f2-)
          APPLE_ID_PASSWORD=$(grep '^APPLE_ID_PASSWORD=' apps/app/electron-builder.env | cut -d '=' -f2-)
          echo "APPLE_TEAM_ID=$APPLE_ASC_PROVIDER" >> apps/app/electron-builder.env
          echo "APPLE_APP_SPECIFIC_PASSWORD=$APPLE_ID_PASSWORD" >> apps/app/electron-builder.env
      - name: Build App for Windows
        if: matrix.runner_label == 'windows-nexus'
        run: |
          $env:NODE_OPTIONS="--max-old-space-size=4096"
          $env:LOCALAPPDATA=""
          npx nx build:win app --output-style stream --no-cloud
      - name: Build App for Mac
        if: matrix.runner_label == 'macos-nexus'
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          npx nx build:mac app --universal --output-style stream --no-cloud
      - name: Build App for Linux
        if: matrix.runner_label == 'linux-nexus'
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          npx nx build:linux app --output-style stream --no-cloud
#
#      (see TODO: BEFORE PROD RELEASE (NOTARIZATION/STABILITY) in electron-builder.yml)
#      - name: Verify apple sign
#        if: matrix.runner_label == 'macos-nexus'
#        run: |
#          codesign -v -v apps/app/release/mac/Mudita\ Center.app
#
      - name: Push artifacts to nexus registry from Windows
        if: matrix.runner_label == 'windows-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          jq -r -j .version apps/app/package.json > apps/app/version
          $APP_VERSION = Get-Content -Path "apps/app/version"
          $SOURCE_BRANCH = "${{ github.ref_name }}"
          $ENVIRONMENT_CATALOG_NAME = "development-next"
          echo "GITTAG=$($APP_VERSION)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          $GITTAG = "$($APP_VERSION)"
          $NEXUS_USERNAME = "$env:NEXUS_USERNAME"
          $NEXUS_PASSWORD = ConvertTo-SecureString "$env:NEXUS_PASSWORD" -AsPlainText -Force
          $AUTH = New-Object System.Management.Automation.PSCredential ($NEXUS_USERNAME, $NEXUS_PASSWORD)
          copy ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-win.yml
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/Mudita-Center.exe -InFile ./apps/app/release/Mudita-Center.exe -Method Put -Credential $AUTH
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/Mudita-Center.exe.blockmap -InFile ./apps/app/release/Mudita-Center.exe.blockmap -Method Put -Credential $AUTH
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/latest.yml -InFile ./apps/app/release/latest.yml -Method Put -Credential $AUTH
          Invoke-WebRequest -Uri https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$($APP_VERSION)/builder-debug-win.yml -InFile ./apps/app/release/builder-debug-win.yml -Method Put -Credential $AUTH
          C:\"Program Files"\Git\cmd\git.exe clone https://${{ secrets.MC_GITHUB_ACCESS_TOKEN }}@github.com/mudita/mudita-center-development-next.git
          cd mudita-center-development-next
          C:\"Program Files"\Git\cmd\git.exe tag "$GITTAG"
          C:\"Program Files"\Git\cmd\git.exe push origin "$GITTAG"
      - name: Push artifacts to nexus registry from Linux
        if: matrix.runner_label == 'linux-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=development-next
          echo "GITTAG=$APP_VERSION" >> $GITHUB_ENV
          export GITTAG="$APP_VERSION"
          git tag "$GITTAG"
          git push origin "$GITTAG"
          cp ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-linux.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.AppImage  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.AppImage
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/latest-linux.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/latest-linux.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/builder-debug-linux.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/builder-debug-linux.yml
          git clone https://${{ secrets.MC_GITHUB_ACCESS_TOKEN }}@github.com/mudita/mudita-center-development-next.git
          cd mudita-center-development-next
          git tag "$GITTAG" 2>&1 || true
          git push origin "$GITTAG"
      - name: Push artifacts to nexus registry from macOS
        if: matrix.runner_label == 'macos-nexus'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          export APP_VERSION=`cat apps/app/package.json | jq -r .version`
          export SOURCE_BRANCH=${{ github.ref_name }}
          export ENVIRONMENT_CATALOG_NAME=development-next
          echo "GITTAG=$APP_VERSION" >> $GITHUB_ENV
          export GITTAG="$APP_VERSION"
          git tag "$GITTAG"
          git push origin "$GITTAG"
          cp ./apps/app/release/builder-debug.yml ./apps/app/release/builder-debug-mac.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.dmg  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.dmg
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.zip  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.zip
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.zip.blockmap  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.zip.blockmap
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/Mudita-Center.dmg.blockmap  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/Mudita-Center.dmg.blockmap
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/latest-mac.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/latest-mac.yml
          curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file ./apps/app/release/builder-debug-mac.yml  https://nexus.mudita.com/repository/mudita-center/releases/$ENVIRONMENT_CATALOG_NAME/$APP_VERSION/builder-debug-mac.yml
          git clone https://${{ secrets.MC_GITHUB_ACCESS_TOKEN }}@github.com/mudita/mudita-center-development-next.git
          cd mudita-center-development-next
          git tag "$GITTAG" 2>&1 || true
          git push origin "$GITTAG"
      - name: Create draft release with Windows files
        if: matrix.runner_label == 'windows-nexus'
        id: create_release_windows
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-development-next
          token: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.exe
            ./apps/app/release/Mudita-Center.exe.blockmap
            ./apps/app/release/latest.yml
            ./apps/app/release/builder-debug-win.yml
      - name: Create draft release with Linux files
        if: matrix.runner_label == 'linux-nexus'
        id: create_release_linux
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-development-next
          token: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.AppImage
            ./apps/app/release/latest-linux.yml
            ./apps/app/release/builder-debug-linux.yml
      - name: Create draft release with Mac files
        if: matrix.runner_label == 'macos-nexus'
        id: create_release_macos
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GITTAG }}
          name: Mudita Center v${{ env.GITTAG }}
          repository: mudita/mudita-center-development-next
          token: ${{ secrets.MC_GITHUB_ACCESS_TOKEN }}
          files: |
            ./apps/app/release/Mudita-Center.dmg
            ./apps/app/release/Mudita-Center.zip
            ./apps/app/release/Mudita-Center.zip.blockmap
            ./apps/app/release/Mudita-Center.dmg.blockmap
            ./apps/app/release/latest-mac.yml
            ./apps/app/release/builder-debug-mac.yml
