# Build and release the app

name: Release
on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install node and npm
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '14.15.4'

      - name: Install dependencies
        run: npm install && npm install electron-builder -g

      - name: Build and publish the app
        run: npm run prerelease && electron-builder --publish always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSC_LINK: ${{ secrets.MAC_CERTS }}
          CSC_KEY_PASSWORD: ${{ secrets.MAC_CERTS_PASSWORD }}
