name: Automatic Quality Checks

on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.17.3]

    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci && npm run bootstrap:ci
      - name: Lint test and typecheck
        run: |
          npm run lint
          npm run lint:typecheck
        env:
          CI: true
      - name: Test
        run: npm run test:coverage
        env:
          CI: true
          NODE_OPTIONS: '--max_old_space_size=8192'
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/pure/coverage/lcov.info,./packages/app/coverage/lcov.info
          fail_ci_if_error: true
