name: Automatic Quality Checks

on: [push]

jobs:
  validate:
    runs-on: macos-m-validate
    strategy:
      matrix:
        node-version: [24.13.0]
    timeout-minutes: 40
    environment: development
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Lint, stylelint and typecheck
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
