name: Automatic Quality Checks

on: [push]

jobs:
  validate:
    runs-on: macOS-intel
    strategy:
      matrix:
        node-version: [22.16.0]
    timeout-minutes: 40
    environment: development-next
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Lint, stylelint and typecheck
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
